@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Dosis:wght@200&family=Explora&family=Great+Vibes&family=Handlee&family=Moon+Dance&family=Parisienne&family=Pinyon+Script&family=Playfair+Display&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&display=swap');
.h1{
    color: black;
    font-family: 'Playfair Display', serif;
    transition: 1s;
}

.h1:hover{
    color: white;
    scale: 1.5;

}
button:hover{
    border-radius: 35px;
}

